body{
    background: rgb(15, 14, 14);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3rem;
}
h1,h2,h3{
    margin-top: 2px;
    text-align: center;
    line-height: 5rem;
    color: green;
}
h2{
    font-size: 1.5rem;
    padding: 1px 0 1px;
}
article{
    background: rgb(22, 21, 21);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
p{
    line-height: 2rem;
    padding: 2px;
    font-size: 1.2rem;
    padding-left: 5px;
}
.back{
    margin-left: 30px;
    padding: 10px 30px;
    background: orange;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
a{
    text-transform: uppercase;
    color: black;
}
section{
    text-align: left;
    column-count: 1;
    column-gap: 1rem;
}
img{
    width: 80%;
    margin: 1px 0 1px;
    box-shadow: rgb(20, 20, 20);
}
.bottom{
    position: relative;
    bottom: 0;
    height: 80px;
    width: 100%;
    color: aliceblue;
    background: rgb(8, 8, 8);
}
.bottom p{
    text-align: center;
    padding-top: 30px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: rgb(27, 26, 26);
}
.links{
    text-align: center;
}
.links i{
    margin: 10px;
    cursor: pointer;
    color:green;
}
.links i:hover{
    color: green;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 1px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(241, 28, 28);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: rgb(32, 240, 32);
  color: black;
}
@media screen and (min-width: 760px){
    body{
        font-size: 18px;
    }
    p{
        line-height: 1.5rem;
        padding-left: 2px;
    }
    section{
    text-align: left;
    column-count: 2;
    column-gap: 2rem;
    column-rule-style: solid;
    column-rule-color: orangered;
    }
    section>*{
        margin-top: inherit;
    }

}
@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    p{
        line-height: 1.5rem;
        padding-left: 2px;
    }
    section{
    text-align: left;
    column-count: 3;
    column-gap: 1rem;
    column-rule-style: solid;
    column-rule-color:orangered;
    }
    section>*{
        margin-top: inherit;
    }

}